* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}

.main-navbar {
  display: flex;
  justify-content: space-between;
  background-color: lightblue;
}
.logo {
  align-self: center;
  padding-left: 30px;
}
.nav-menu {
  align-self: center;
  display: flex;
  gap: 15px;
  padding-right: 30px;
}
.cart,
.admin {
  display: flex;
  gap: 5px;
  border: 1px solid black;
  border-radius: 4px;
  padding: 4px;
  cursor: pointer;
}
.products-container {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.no-of-products {
  margin: 0 5px;
  font-size: 20px;
}

.admin-products {
  width: 700px;
  margin: auto;
}
.add-product {
  text-align: center;
  margin-top: 30px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
